
body {
  color: #000099;
  font-family: Tahoma, Geneva, sans-serif;
}

#all_content {
  /* border: 1px solid black; */
  width: 320px;
}

h1, h2, h3, h4 {
  color: #850000;
}

.main_title {
  color: white;
  background-color: #850000;
  padding: 2px;
  padding-left: 5px;
  width: 300px;
}

#util_link {
  color: #850000;
  background-color: #850000;
  font-weight: normal;
  font-size: 70%;
  text-align: right;
}

.white_text {
  color: white;
}

h3 span.foo {
  color: #005050;
  font-weight: normal;
  font-size: 90%;
}

#huddle_name {
  margin-bottom: 10px;
}

#vote_list {
}

.vote_color {
  background-color: #007a7a;
}
.my_vote_color {
  background-color: #005050;
}


.vote {
  display: inline-block;
  width: 145px;
  /* background-color: #007a7a; */
  color: white;
  font-size: 85%;
  margin: 1px;
  padding: 3px;
  padding-left: 5px;
  border: 1px solid #005050;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.user_name {
  display: inline-block;
  width: 60px;
  color: white;
  font-size: 85%;
  margin: 1px;
  padding: 3px;
  padding-left: 5px;
  border: 1px solid #005050;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.user_id {
  display: none;
}

.vote_for {
  /* font-size: 75%;
  color: white; */
  /* background-color: #7fbe00; */
  /* padding: 4px;
  -moz-border-radius: 2px;
  border-radius: 2px; */
}
.vote_for_saved {
  /* font-size: 75%;
  color: white; */
  /* background-color: #7fbe00; */
  /* padding: 4px; */
  /* -moz-border-radius: 2px;
  border-radius: 2px; */
}

.user_msg {
  font-family: garamond, georgia, serif;
  font-size: 0.95em;
  color: #005050;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
}

.delete_saved {
  font-size: 75%;
  color: white;
  /* background-color: #850000; */
  /* padding: 4px; */
  /* -moz-border-radius: 2px;
  border-radius: 2px; */
}

.lunch_spot {
  display: inline-block;
  width: 210px;
  background-color: #537c00;
  color: white;
  font-size: 85%;
  margin: 1px;
  padding: 3px;
  padding-left: 5px;
  border: 1px solid #005050;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.section {
  width: 290px;
  background-color: #f0f0f0;
  border: 1px solid black;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  padding-left: 5px;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

#log {
  border: 1px solid black;
  color: black;
  font-family: courier;
  font-size: 80%;
}
