body {
  background: #E4E4E4;
  font-family: Tahoma, Geneva, sans-serif;
}

#all_content {
  /* border: 1px solid black; */
  width: 380px;
  margin: 0 auto;
}

#all_content.cols_2 {
  width: 650px;
}

.column {
  float: left;
  width: 300px;
  padding: 0 10px;
}

h1, h2, h3, h4 {
  color: #2B869F;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2B869F;
}

hr {
  border: 0;
  border-top: 1px solid #DCDCDE;
}

p {
  font-size: 14px;
  color: #0E5667;
}

label {
  width: 120px;
  line-height: 26px;
}

.form_control_section {
  margin-top: 22px;
}

.user_info_explanation {
  font-size: .80em;
  text-align: right;
  font-style: italic;
  padding-right: 5px;
}

#utility_link {
  text-align: right;
}

textarea,
input {
  background-color: #FFFAF5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFAF5), to(#FFE9D3)); 
  background-image: -webkit-linear-gradient(90deg, #FFF1E3, #FFFAF5); 
  background-image: -moz-linear-gradient(-90deg, #FFF1E3, #FFFAF5);
  background-image: -ms-linear-gradient(top, #FFF1E3, #FFFAF5); 
  background-image: -o-linear-gradient(top, #FFF1E3, #FFFAF5); 
  background-image: linear-gradient(to bottom, #FFF1E3, #FFFAF5);
  box-shadow: 1px 1px 1px #DADADA;
  border: 1px solid #FFD1AA;
  border-radius: 12px;
  padding: 4px;
  color: #997676;
  width: 175px;
}

textarea:focus,
input:focus {
  outline: none;
}

input:focus {
  border: 1px solid #FFA85C;
  box-shadow: 2px 2px 2px #DADADA;
}

#user_info_view input[type=text]{
  width: 235px;
}

input[type=button] {
  cursor: pointer;
  background-color: #2B889E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A2BFC5), to(#2B889E)); 
  background-image: -webkit-linear-gradient(90deg, #2B889E, #A2BFC5);
  background-image: -moz-linear-gradient(90deg, #2B889E, #A2BFC5);
  color: #FFF;
  border: 1px solid #0E5667;
  border-top: 1px solid #77A8B3;
  text-shadow: 1px 1px 1px #465C66;
  width: auto;
}



textarea {
  float: none;
  width: 335px;
  border-radius: 12px 0 0 12px;
}

.header {
  color: white;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  background-color: #6C6C6C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9F9F9F), to(#565656)); 
  background-image: -webkit-linear-gradient(84deg, #565656, #9F9F9F); 
  background-image: -moz-linear-gradient(84deg, #565656, #9F9F9F); 
  background-image: -ms-linear-gradient(top, #565656, #9F9F9F); 
  background-image: -o-linear-gradient(top, #565656, #9F9F9F); 
  background-image: linear-gradient(to bottom, #9F9F9F, #565656);
  text-shadow: -1px 1px 1px #333;
}

.header.closed {
  border-radius: 7px;
}

h4.header {
  background-color: #6C6C6C;
  background-image: -moz-linear-gradient(84deg, #6C6C6C, #B1B1B1);
}

.header span {
  display: block;
  padding: 10px 20px;
  font-size: 90%;
}

.home_link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

#util_link {
  color: #850000;
  background-color: #850000;
  font-weight: normal;
  font-size: 70%;
  text-align: right;
}

.white_text {
  color: white;
}

span.foo {
  color: #005050;
}

h3 span.foo {
  color: #005050;
  font-weight: normal;
  font-size: 90%;
}

.highlight {
  text-decoration: none;
  font-weight: bold;
  color: #2B869F;
}

.invite {
/*  color: #918E8E; */
  font-style: italic;
}

.invite:hover {
  text-decoration: underline;
}
#vote_list {
  margin-top: 10px;
}

.vote_color {
  background-color: #6C6C6C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9F9F9F), to(#565656)); 
  background-image: -webkit-linear-gradient(84deg, #565656, #9F9F9F); 
  background-image: -moz-linear-gradient(84deg, #565656, #9F9F9F); 
  background-image: -ms-linear-gradient(top, #565656, #9F9F9F); 
  background-image: -o-linear-gradient(top, #565656, #9F9F9F); 
  background-image: linear-gradient(to bottom, #9F9F9F, #565656);
}
.my_vote_color {
  background-color: #6C6C6C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9F9F9F), to(#565656)); 
  background-image: -webkit-linear-gradient(84deg, #565656, #9F9F9F); 
  background-image: -moz-linear-gradient(84deg, #565656, #9F9F9F); 
  background-image: -ms-linear-gradient(top, #565656, #9F9F9F); 
  background-image: -o-linear-gradient(top, #565656, #9F9F9F); 
  background-image: linear-gradient(to bottom, #9F9F9F, #565656);
}


.vote {
  display: inline-block;
  width: 145px;
  color: white;
  font-size: 85%;
  margin: 1px;
  padding: 3px;
  padding-left: 5px;
  border: 1px solid #5B5B5B;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.user_name {
  display: inline-block;
  width: 50px;
  color: white;
  font-size: 85%;
  margin: 1px;
  padding: 3px;
  padding-left: 5px;
  border: 1px solid #5B5B5B;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.user_id {
  display: none;
}

.vote_for {
  /* font-size: 75%;
  color: white; */
  /* background-color: #7fbe00; */
  /* padding: 4px;
  -moz-border-radius: 2px;
  border-radius: 2px; */
}

.vote_for_saved {
  /* font-size: 75%;
  color: white; */
  /* background-color: #7fbe00; */
  /* padding: 4px; */
  /* -moz-border-radius: 2px;
  border-radius: 2px; */
}

.user_msg {
  font-family: garamond, georgia, serif;
  font-size: 0.95em;
  color: #005050;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
}

.delete_saved {
  font-size: 75%;
  color: white;
  /* background-color: #850000; */
  /* padding: 4px; */
  /* -moz-border-radius: 2px;
  border-radius: 2px; */
}

.lunch_spot {
  display: inline-block;
  width: 194px;
  color: white;
  font-size: 85%;
  margin: 1px;
  padding: 3px;
  padding-left: 5px;
  border: 1px solid #C58527;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #FF9F41;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFC893), to(#FF9F41)); 
  background-image: -webkit-linear-gradient(84deg, #FF9F41, #FFC893); 
  background-image: -moz-linear-gradient(84deg, #FF9F41, #FFC893); 
  background-image: -ms-linear-gradient(top, #FF9F41, #FFC893); 
  background-image: -o-linear-gradient(top, #FF9F41, #FFC893); 
  background-image: linear-gradient(to bottom, #FF9F41, #FFC893);
}

.section {
  margin-bottom: 10px;
}

.view {
  padding: 15px;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(90deg, #F4F4F4, #F9F9F9);
  border: 1px solid #DCDCDE;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #CCC; 
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.has_header {
    border-radius: 0 0 5px 5px;
}

#log {
  border: 1px solid black;
  color: black;
  font-family: courier;
  font-size: 80%;
}

.invitee_item {
  margin-bottom: 3px;
}
.invitee_item_name {
  margin-right: 10px;
}

.ui-draggable {
}

.header #bar {
  float: right;
}

.ui-draggable-dragging {
  background-color: #c0c0c0;
}

.draggable-hover {
  background-color: #c0c0c0;
}


#scratch div {
  border: 1px solid black;
}

#scratch_container #left {
  float: left;
}
#scratch_container #right {
  float: right;
}
#scratch_container #next_section {
  clear: both;
}

.toggle_view.open {
  margin-top: 3px;
}

.clear {
  clear: both;
}

/* mobile styles */
@media screen and (max-width: 480px) {

  /* disable font resize on iphone */
  html {
	  -webkit-text-size-adjust: none;
  }

  #all_content {
	width: 100%;
  }

  /* disable floats */
  .column {
	float: none;
	padding: 0;
  }
  
  textarea,
  input {
	float: none;
	display: block;
  }
  
  #scratch_container #left {
	float: none;
  }
  #scratch_container #right {
	float: none;
  }
  
  /* reset width */
  input,
  textarea,
  .column,
  #all-content,
  #all_content.cols_2 {
	width: 100%;
  }

  body {
	margin: 0;
  }
  
  .user_info_explanation {
	text-align: left;
  }
  
  span#foo{
	width: 50%;
	margin: 0;
  }
  span#bar{
	display: inline;
	float: right;
  }

}

.msg_user_name {
  color: black;
  font-size: 0.75em;
}

.msg_user_message {
  color: #2B869F;
  font-size: 0.8em;
}

#invitee_list input {
  display: inline;
  width: 20px;
}

