!!!
%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %script{:type => "text/javascript", :src =>"javascripts/lib/jquery-1.6.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/underscore.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/backbone-min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/util.jquery.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jjquery.cookie-modified.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/Modernizr.dev.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/mustache.js"}
    %script{:type => "text/javascript", :src =>"javascripts/UserInfo.js"}
    %script{:type => "text/javascript", :src =>"javascripts/DataStore.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Logger.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/SendInvitesView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/UserInfoView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/model/Invitee.js"}
    %script{:type => "text/javascript", :src =>"javascripts/huddle.js"}

    %title Lunch Huddle, Huddle Info

  %body
    
    %div.section#huddle_invite
    
      %h3.main_title.header
        %a.home_link{:href => "/land?huddle=#{@huddle}"} Lunch Huddle
  
      %div#send_invites_view.view.has_header
        %h4 Huddle Info
    
        %p Invite Others to <b>#{@huddle}</b> Huddle
  
        %form#frmSendInvite{:action => "/huddle/invite", :method => "post"}
          %input#txtHuddle{:type => "hidden", :name => "txtHuddle", :value => @huddle}
          %p 
            Send an invite from the list below
            %div#invitee_list

          %p 
            along with
            %textarea#txtEmailAddr{:name => "txtEmailAddr", :rows => 4}

            %input#btnInvite{:type => "button", :value => "Send Invitation"}
        
        %div.clear
        
