!!!
%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %script{:type => "text/javascript", :src =>"javascripts/lib/jquery-1.6.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/underscore.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/backbone-min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/util.jquery.js"}
    %script{:type => "text/javascript", :src =>"javascripts/UserInfo.js"}
    %script{:type => "text/javascript", :src =>"javascripts/DataStore.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jjquery.cookie-modified.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Logger.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/AddInviteeView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/InviteeListView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/huddle.js"}

    %title Lunch Huddle, Huddle Info

  %body

    %h3.main_title Lunch Huddle
    %h4 Huddle Info

    Invite Others to Huddle #{@huddle}

    %div#frmAdd
      %form(action="*")
        name: 
        %input#txtName{:type => "text"}
  
        email address: 
        %input#txtEmailAddr{:type => "text"}
  
        %input#btnAdd{:type => "button", :value => "Add"}

    %div#invitee_list

      %h4 List of Invitees
  
      %form(action="/")
        %input#btnSend{:type => "button", :value => "Send Invitation"}
