!!!
%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %script{:type => "text/javascript", :src =>"javascripts/lib/jquery-1.6.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/underscore.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/backbone-min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/util.jquery.js"}
    %script{:type => "text/javascript", :src =>"javascripts/UserInfo.js"}
    %script{:type => "text/javascript", :src =>"javascripts/DataStore.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jjquery.cookie-modified.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Logger.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/SendInvitesView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/UserInfoView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/model/Invitee.js"}
    %script{:type => "text/javascript", :src =>"javascripts/huddle.js"}

    %title Lunch Huddle, Huddle Info

  %body

    %h3.main_title Lunch Huddle
    %h4 Huddle Info

    Invite Others to Huddle #{@huddle}

    %div#send_invites_view
      %form#frmSendInvite{:action => "/huddle/invite", :method => "post"}
        %input#txtHuddle{:type => "text", :name => "txtHuddle", :value => @huddle}
        %p
          %br enter a valid email address list
          To: 
          %br
          %textarea#txtEmailAddr{:name => "txtEmailAddr", :rows => 4, :cols => 35}
  
        %input#btnInvite{:type => "button", :value => "Send Invitation"}
