!!!
%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %script{:type => "text/javascript", :src =>"javascripts/lib/jquery-1.6.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jquery-ui-1.8.13.custom.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/underscore.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/backbone-min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/util.jquery.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jjquery.cookie-modified.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/mustache.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/Modernizr.dev.js"}
    %script{:type => "text/javascript", :src =>"http://cdn.pubnub.com/pubnub-3.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/UserInfo.js"}
    %script{:type => "text/javascript", :src =>"javascripts/DataStore.js"}
    %script{:type => "text/javascript", :src =>"javascripts/messaging.js"}
    %script{:type => "text/javascript", :src =>"javascripts/index_event_handlers.js"}
    %script{:type => "text/javascript", :src =>"javascripts/model/RestaurantModel.js"}
    %script{:type => "text/javascript", :src =>"javascripts/model/LunchSpot.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/UserInfoView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/VFLunchSpotsView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/VetoedLunchSpotsView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/SavedLunchSpotsView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/VoteView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Logger.js"}
    %script{:type => "text/javascript", :src =>"javascripts/index.js"}
    %title Lunch Huddle

  %body

    %div(pub-key="pub-f692f5fb-58e7-4f72-b195-0b04d3960da8" sub-key="sub-a2494751-c5a0-11e0-b441-f562192438d2" ssl="off" origin="pubsub.pubnub.com" id="pubnub")

    %div#all_content

      %h3.main_title 
        Lunch Huddle
        %span#util_link utility
  
      %div#log
        %div#log_toggle #{@log_toggle} 
        %div#log_content
  
      %div.section
        %div#vote_view
          %form(action="#")
            Welcome
            %a#txtName{:href => "/userinfo?huddle=#{@huddle}"} 
            %br
  
            where to eat? &nbsp;
            %input#txtLunchSpot(type="text")
            %br
            comment: &nbsp;
            %input#txtMessage(type="text")
            %br
            %input#btnVote.defaultButton{:type => "button", :value => "vote and/or comment"}
  
      %div.section
        %div#vf_lunch_spots_view
          %h3
            %span.foo Huddle name: 
            %span#huddle_name #{@huddle}
          %div#vote_list
          %hr
            %a{:href => "/huddle?huddle=#{@huddle}"}invite others to huddle
  
      %div.section
        %div#vetoed_lunch_spots_view
          %h3 I Won't Eat There
          %div#veto_list

      %div.section
        %div#saved_lunch_spots_view
          %h3 Saved Lunch Spots
          %div#saved_lunch_spots

