!!!
%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %script{:type => "text/javascript", :src =>"javascripts/jquery-1.6.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/underscore.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Modernizr.dev.js"}
    %script{:type => "text/javascript", :src =>"javascripts/util.jquery.js"}
    %script{:type => "text/javascript", :src =>"http://cdn.pubnub.com/pubnub-3.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/VoteView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/SavedLunchSpots.js"}
    %script{:type => "text/javascript", :src =>"javascripts/DataStore.js"}
    %script{:type => "text/javascript", :src =>"javascripts/messaging.js"}
    %script{:type => "text/javascript", :src =>"javascripts/restaurants.js"}
    %script{:type => "text/javascript", :src =>"javascripts/jjquery.cookie-modified.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Logger.js"}
    %script{:type => "text/javascript", :src =>"javascripts/index.js"}
    %script{:type => "text/javascript", :src =>"javascripts/index_event_handlers.js"}
    %title Sinatra. index.haml

  %body

    %div(pub-key="pub-f692f5fb-58e7-4f72-b195-0b04d3960da8" sub-key="sub-a2494751-c5a0-11e0-b441-f562192438d2" ssl="off" origin="pubsub.pubnub.com" id="pubnub")


    %h4#huddle_name #{@huddle}

    %div#log
      %div#log_switch y 
      %div#log_content

    %form(action="#")
      name: 
      %input#txtName(type="text")
      %br
      vote for:
      %input#txtLunchSpot(type="text")
      %br
      %input#btnVote{:type => "button", :value => "vote"}

    %div.section
      %h3 Our Votes
      %div#vote_list

    %div.section
      %h3 Saved Lunch Spots
      %div#saved_lunch_spots
