!!!
%html
  %head
    %script{:type => "text/javascript", :src =>"javascripts/jquery-1.6.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/underscore.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Modernizr.dev.js"}
    %script{:type => "text/javascript", :src =>"javascripts/util.jquery.js"}
      %script{:type => "text/javascript", :src =>"javascripts/util.js"}

  %body

    %h3.main_title Lunch Huddle
    %h4 Utility Page

    %h5 eddie would go

