!!!
%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %script{:type => "text/javascript", :src =>"javascripts/jquery-1.6.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jquery-ui-1.8.13.custom.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/jjquery.cookie-modified.js"}
    %script{:type => "text/javascript", :src =>"javascripts/underscore.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Modernizr.dev.js"}
    %script{:type => "text/javascript", :src =>"javascripts/util.jquery.js"}
    %script{:type => "text/javascript", :src =>"javascripts/utility.js"}

  %body

    %h3.main_title Lunch Huddle

    %h4 the landing page
