%html
  %head
    %link(rel="stylesheet" href="css/styles.css")

  %body#scratch

    %h3 Scratch Page

    %div#scratch_container
      %div#left
        left
      %div#right
        right

      %div#next_section
        eddie would go
