!!!
%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %script{:type => "text/javascript", :src =>"javascripts/lib/jquery-1.6.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/underscore.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/backbone-min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/util.jquery.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jjquery.cookie-modified.js"}
    %script{:type => "text/javascript", :src =>"javascripts/UserInfo.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/UserInfoView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/DataStore.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Logger.js"}
    %title Lunch Huddle, User Info

  %body

  %div#all_content
    %h3.main_title.header
      %a.home_link{:href => "/land?huddle=#{@huddle}"} Lunch Huddle

    %div.section
      %div#user_info_view.view.has_header
        %h3 User Information
        %p We need to collect some information before you join the huddle
        %form(action="/")
          %p
            name: 
            %input#txtName{:type => "text"}
          
          %span
            %input#txtUniqueId{:type => "text", :disabled => "disabled"}
          
          %p
            huddle: 
            %input#txtHuddleName{:name  => "huddle",
                               :type  => "text",
                               :value => "#{@huddle}"}
  
          %p
            %input#joinHuddle{:type => "button",
                            :value => "join huddle"}
        
        %div.clear
